{__NOLAYOUT__}
<style>
.form-horizontal .control-label{width:100px;}
.form-horizontal .controls{margin-left:120px;}
.form-horizontal .form-actions{padding-left:120px;}
.select2-results{max-height:300px;}
</style>
<link rel="stylesheet" href="__PUBLIC__/css/select2.css" />
<script src="__PUBLIC__/js/form.jquery.min.js"></script>
<script src="__PUBLIC__/js/select2.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/jquery.gritter.css" />
<div class="widget-box" style="margin:0;">
    <div class="widget-content nopadding">
        <form class="form-horizontal" method="post" ajax="true" action="{:U('Admin/add')}" id="add_form" autocomplete="off">
            <div class="control-group">
                <label class="control-label">用户名：</label>
                <div class="controls"><input type="text" name="username"  regex="/^[0-9a-zA-Z_]+$/" regexMsg="用户名只允许字母、数字、下划线（区分大小写）" empty="请输入用户名" id="username" /></div>
            </div>
            <div class="control-group">
                <label class="control-label">真实姓名：</label>
                <div class="controls"><input type="text" name="realname" id="realname" empty="请输入真实姓名" /></div>
            </div>
            <div class="control-group">
                <label class="control-label">所属分组：</label>
                <div class="controls" style="padding-right:20px;">
                    <select id="group" name="group[]" multiple="" empty="请选择所属分组">
                        <volist name="groups" id="group">
                        <option value="{$group.id}" {$group.select}>{$group.name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">所属商家：</label>
                <div class="controls" style="padding-right:20px;">
                    <select id="relation" name="relation[]" multiple="">
                        <volist name="relations" id="relation">
                        <option value="{$relation.shops_id}" {$relation.select}>{$relation.shops_name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">帐号状态：</label>
                <div class="controls">
                    <div class="btn-group add_change_status">
                        <a data-status="1" class="btn btn-mini btn-success active">ON</a>
                        <a data-status="0" class="btn btn-mini">OFF</a>
                    </div>
                </div>
                <input type="hidden" id="status" name="status" value="1" />
            </div>
            <div class="form-actions">
                <input type="submit" value="提交" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $('select').select2();
    $('.add_change_status a').click(function() {
        var _this = $(this);
        if (_this.hasClass('active')) return false;
        _this.parent().find('a').removeClass('active');
        _this.addClass('active');
        if (_this.index() == 1) _this.prev().removeClass('btn-success');
        else _this.addClass('btn-success');
        $('#status').val($(this).data('status'));
    });
    $("#add_form").form({
        start:function() {
            $('.error').removeClass('error');
            remove_error();
        },
        error:function(data,_this) {
            if (_this) {
                error(data,_this);
                $('.error').removeClass('error');
                _this.parents('.control-group').addClass('error');
            }else alert(data);
        },
        ajaxcallback:function(data) {
            if (data.status) {
                tip_close();
                window.location.href = "{:U('Admin/index')}";
            }else {
                if (data.data) {
                    var _obj = $('#'+data.data);
                    $('.error').removeClass('error');
                    _obj.parents('.control-group').addClass('error');
                    _obj.focus();
                    error(data.info,_obj);
                }else {
                    alert(data.info);
                }
            }
        }
    });
</script>