<link rel="stylesheet" href="__PUBLIC__/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/css/uniform.css" />
<script type="text/javascript" src="__PUBLIC__/js/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.uniform.js"></script>
<style>.warging{border-radius:50%;padding:2px 3px;cursor:pointer;position:absolute;margin-left:4px;}</style>
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title add_box"><h5>商品编辑列表</h5><a class="btn btn-success btn-mini" href="{:U('EditGoodsBase/add')}"><i class="icon-plus icon-white"></i> 添加商品</a></div>
        <div class="widget-content">
            {$search_box}
            <div class="help-block" style="float: left;">
                提示：任何修改内容，审核通过后，必须在商品列表中点击上架才有效
            </div>
            <div style="float: right;">
                <a href="javascript:;" class="btn btn-mini goods_submit_checked"><i class="icon-wrench"></i> 提交审核</a>
            </div>
            <table class="table table_list table-bordered table-center">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkedAll"/></th>
                        <th>商品编码</th>
                        <th>商品名称</th>
                        <th>状态</th>
                        <th>销售价</th>
                        <th>可使用储值卡</th>
                        <th>商家</th>
                        <th>审核时间</th>
                        <th>审核拒绝原因</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <empty name="list">
                        <td colspan="9">还没有任何商品信息，请先创建~~~</td>
                    </empty>
                    <volist name="list" id="info">
                    <tr>
                        <td><input type="checkbox" name="goods_id" value="{$info.goods_code}"/></td>
                        <td>
                            {$info.goods_code}
                            <if condition="$info['tip']">
                                <span class="label label-important warging tip-right" title="{$info.tip_msg}">！</span>
                            </if>
                        </td>
                        <td>{$info.goods_name}</td>
                        <td>{$info.goods_status|id2name='goods_status',###}</td>
                        <td>{$info.show_price}</td>
                        <td>{$info.use_storage_money|id2name='use_storage_money',###}</td>
                        <td>{$info.shops_name}</td>
                        <td>{$info.check_time}</td>
                        <td>{$info.refuse_reason|default='无'}</td>
                        <td>
                            <a href="{:U('EditGoodsBase/edit',array('goods_code'=>$info['goods_code']))}" class="btn btn-mini"><i class="icon-edit"></i> 编辑</a>
                            <a href="{:U('EditGoodsBase/info',array('goods_code'=>$info['goods_code']))}" class="btn btn-mini"><i class="icon-eye-open" style="margin-right: 0px;"></i> 查看详情</a>
                        </td>
                    </tr>
                    </volist>
                </tbody>
            </table>
            <notempty name="page"><div class="pagination alternate page"><ul>{$page}</ul></div></notempty>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    $('input[type=checkbox]').uniform(); //美化checkbox，radio按钮
    $("#checkedAll").toggle(function () {
        $("input[name=goods_id]").each(function () {
            $(this).parents('span').addClass('checked');
            $(this).attr('checked', 'checked');
        });
    }, function () {
        $(this).parents('span').removeClass('checked');
        $("input[name=goods_id]").each(function () {
            $(this).parents('span').removeClass('checked');
            $(this).removeAttr('checked');
        });
    });
    $("input[name=goods_id]").click(function () {
        var _this = $(this);
        _all_checked = true;
        var _checked = _this.attr('checked');
        if (!_checked) {
            $("#checkedAll").parents('span').removeClass('checked');
        } else {
            $("input[name=goods_id]").each(function () {
                if (!$(this).parents('span').hasClass('checked') && _this.val() != $(this).val()) {
                    _all_checked = false;
                }
            });
            if (_all_checked && !$("#checkedAll").parents('span').hasClass('checked')) {
                $("#checkedAll").parents('span').addClass('checked');
            }
        }
    });
    /*-----------------------------------------------提交审核-------------------------------------------*/
    $(".goods_submit_checked").click(function(){
        var _checked_count = $("input[name=goods_id]:checked").length;
        if(_checked_count == 0){
            alert("请选择一个商品");
            return false;
        }
        var _goods_code = '';
        $("input[name=goods_id]:checked").each(function(){
            _goods_code += $(this).val() + ',';
        });
        $.post("{:U('EditGoodsBase/submit_check')}",{goods_codes:_goods_code},function(data){
            if(data.status){
                alert(data.info);
                window.location.reload();
            }else{
                alert(data.info);
            }
        });
    });
</script>