<script src="__PUBLIC__/js/jquery.uniform.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/uniform.css" />
<link type="text/css" href="__PUBLIC__/js/date/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
<link type="text/css" href="__PUBLIC__/js/date/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/js/date/js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/date/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/date/js/jquery-ui-timepicker-zh-CN.js"></script>
<script src="__PUBLIC__/js/tip.jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/form.jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/upload.jquery.js"></script>
<style>
    .controls label{display:inline-block; height:20px; padding:4px 10px 4px 0;margin-bottom:0;margin-right:10px;}
    .img_box{margin:15px 0; overflow:hidden;}
    .img_box ul{list-style:none; margin:0;}
    .img_box ul li{float:left; width:140px; height:140px;cursor:pointer;margin-right:15px;margin-bottom:10px;}
    .img_box ul li:hover{border-color:#08c; box-shadow:0 1px 4px rgba(0,105, 214,0.25);}
    .img_box ul li.active{border-color:red; box-shadow:0 1px 4px rgba(0,105, 214,0.25);}
    .fleft{display: inline-block;}
    .fright{float:right;}
    .answer{ padding:3px 5px; border:1px solid #ccc; display: inline-block; margin:2px;}
    .answer .left{ margin-right:2px;}
    .answer .right{ cursor:pointer;}
    .clearfix:after,
    .clearfix:before{content: "";display: table;}
    .clearfix:after{clear: both;}
    .pagination.alternate li{display: inline-block;margin-top:20px;}
</style>
<div class="container-fluid">
	<div class="widget-box">
		<div class="widget-title add_box"><h5>添加活动</h5><a class="btn btn-success btn-mini" href="{:back_list_url()}"><i class="icon-share-alt icon-white"></i> 返回列表</a></div>
		<div class="widget-content">
			<div class="dataTables_wrapper">
               <form id="theform" class="form-horizontal" ajax="true" action="{:U('Activity/add')}" autocomplete="off" method="post">
                        <if condition="$_GET['show_msg'] eq 1">
                        <div class="control-group" id="success_box" style="width:800px;height:auto;">
                                <label class="control-label"></label>
                                <div class="controls">
                                        <div class="alert alert-success" style="margin-bottom:0;">
                                                <button class="close" data-dismiss="alert">×</button>活动添加成功。
                                        </div>
                                </div>
                        </div>
                        </if>			   
                        <div class="control-group">
                            <label class="control-label"><span style="color:#FF0000;">*</span> 活动名称：</label>
                            <div class="controls">
				<input type="text" name="activity_name" id="activity_name" placeholder="请输入活动名称" empty="请输入活动名称" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span style="color:#FF0000;">*</span> 活动类型：</label>
                            <div class="controls">
                                <label><input type="radio" name="activity_type" value="1" checked/>新会员活动</label>
                                <label><input type="radio" name="activity_type" value="2" />老会员活动</label>	
                            </div>
                        </div>
<!--                        <div class="control-group" id="newMemberBox">
                            <label class="control-label"><span style="color:#FF0000;">*</span> 永乐注册地址：</label>
                            <div class="controls">
				<input type="text" name="yl_url" id="yl_url" placeholder="请输入永乐注册地址"/>
                            </div>
                        </div>-->
                        <div class="control-group">
                            <label class="control-label"><span style="color:#FF0000;">*</span> CRM团体ID：</label>
                            <div class="controls">
				<input type="text" name="team_id" id="team_id" placeholder="请输入团体ID" empty="请输入团体ID"/>
                            </div>
                        </div>
                        <div class="control-group">                        
                            <label class="control-label"><span style="color:#FF0000;">*</span>活动介绍：</label>
                            <div class="controls">
                                <textarea name="activity_introduction" id="activity_introduction" placeholder="请输入活动介绍" empty="请输入活动介绍"></textarea>								
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span style="color:#FF0000;">*</span>活动有效期：</label>
                            <div class="controls">
                                <input class="date" style="width: 150px" type="text" name="activity_start_date" id="activity_start_date" placeholder="请输入开始时间"  empty="请输入开始时间"/>
                                &nbsp;~&nbsp;
                                <input class="date" style="width: 150px" type="text" name="activity_end_date" id="activity_end_date" placeholder="请输入结束时间" empty="请输入结束时间"/>
                            </div>
                        </div>
                        <div class="control-group">                        
                            <label class="control-label"><span style="color:#FF0000;">*</span>活动规则：</label>
                            <div class="controls">
                                <textarea name="activity_rules" id="activity_rules" placeholder="请输入活动规则" empty="请输入活动规则"></textarea>								
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span style="color:#FF0000;">*</span> 状态：</label>
                            <div class="controls">
                                <label><input type="radio" name="activity_status" value="1" checked />下架</label>
                                <label><input type="radio" name="activity_status" value="2" />上架</label>	
                            </div>
                        </div>
                        <div class="control-group">
                        <label class="control-label"><span style="color:#FF0000;">*</span>活动图片：</label>
                        <div class="controls">
                            <button class="btn btn-success" id="upload_img" type="button"><i class="icon-picture icon-white"></i> 选择图片</button>
                            <div class="img_box" data-id="activity_image">
                                <ul class="img_ul"></ul>
                            </div>
                            <span class="help-block">图片尺寸：宽750</span>
                        </div>
                    </div>
                        <div class="control-group">
                            <label class="control-label"><span style="color:#FF0000;">*</span> 调查问卷问题：</label>
                            <div class="controls">
                                <a href="javascript:;" style="margin-left:5px;" id="q_choose">选择已有问题</a>                                                              
                            </div>
                        </div>
                        <div class="control-group" id="q_box" style="padding-left:70px;overflow:hidden;">

                        </div>

                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <input type="hidden" name="input_pream" id="input_pream"/>
                                <input type="hidden" name="activity_image" id="activity_image" empty="请上传活动图片"/>
                                <input type="submit" class="btn btn-primary" id="form_submit" value="提 交" />
                                <span id="form_error" style="color:green;"></span>
                            </div>
                        </div>

                </form>				
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('input[type=radio]').uniform();
        $(".date").datetimepicker({
            showSecond: true,
            timeFormat: 'hh:mm:ss',
            stepHour: 1,
            stepMinute: 1,
            stepSecond: 1
        });
        $("input[name='activity_type']").change(function(){
            var _this = $(this);
            if(_this.val() == 1) $("#newMemberBox").show();
            else $("#newMemberBox").hide();
        });
        $('#upload_img').upload({
            multiple:false,
            success:function(data) {
                var _this = $('#upload_img');
                 var _img_url = _this.next('div').find('.img_ul');
                if (data.savename) {
                    _img_url.find("li").remove();
                    var _path = data.savepath + data.savename;
                    $("#activity_image").val(_path);
                    $('<li class="thumbnail" data-path="'+_path+'"></li>').html('<img src="'+createImageUrl(_path,'140_140')+'" />').appendTo(_img_url);
                }
                _img_url.find('li').each(function() { image_center($(this));});
                if(_img_url.children().length) _img_url.sortable();
            }
        });
    $('#q_choose').tip({
            position:'right center',
            message:function(_this){
                    var _html = '<div id="q_data_box"></div>';
                    return _html;
            },
            callback:function(_this){
                $.get("{:U('Activity/getQuestionList')}",function(data){
                        if(data.status){
                                $('#q_data_box').html(data.info);
                                getCheck();
                        }
                });
            }

    });
    function ajax_search(data){
            $('#q_data_box').html(data.info);
    }
    function getCheck() {
        $('#q_box .question').each(function() {
            var _this = $(this);
            $('#q_data_box .q_data').each(function() {
                if($(this).val() == _this.attr('data-id')){
                    $(this).attr('checked',true);
                    $(this).parents('span').addClass('checked');	
                    return false;
                }
            });
        });
    }	
	$('#theform').form({
		start:function() {
			var _question = '';
			$('#q_box .question').each(function() {
				_question += $(this).attr('data-id')+',';
			});
			$('#input_pream').val(_question);
			$('.error').removeClass('error');
			remove_error();
		},
		error:function(data,_this) {
			if (_this) {
				error(data,_this);
				$('.error').removeClass('error');
				_this.parents('.control-group').addClass('error');
			}else alert(data);
		},		
		ajaxcallback:function(data) {
			if (data.status) {
				location.href = "{:U('Activity/add',array('show_msg'=>1))}";
			}else {
				if (data.data) {
					var _obj = $('#'+data.data);
					$('.error').removeClass('error');
					_obj.parents('.control-group').addClass('error');
					_obj.focus();
					error(data.info,_obj);
				}else {
					alert(data.info);
				}
			}
		}
	});	
</script>