<!DOCTYPE html>
<html>
	<head>
		<title>{$Think.config.APP_TITLE}</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/unicorn.main.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/unicorn.grey.css" class="skin-color" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script src="__PUBLIC__/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/js/jquery.flot.min.js"></script>
        <script src="__PUBLIC__/js/jquery.flot.resize.min.js"></script>
        <script src="__PUBLIC__/js/jquery.peity.min.js"></script>
        <script src="__PUBLIC__/js/unicorn.js"></script>
        <script src="__PUBLIC__/js/common.js"></script>
        <script type="text/javascript">
            var _host = '{$Think.config.BASE_URL}';
            var _root = '__ROOT__';
            var _image_host = '{$Think.config.SERVER_IMAGE_URL}';
            var _public = '__PUBLIC__';
            var _domain = '{$Think.config.DOMAIN}';
        </script>
    </head>
	<body>