<link rel="stylesheet" href="__PUBLIC__/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/css/uniform.css" />
<script type="text/javascript" src="__PUBLIC__/js/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.uniform.js"></script>
<script src="__PUBLIC__/js/form.jquery.min.js"></script>
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title"><h5>优惠券审核列表</h5></div>
        <div class="widget-content">
            {$search_box}
            <div class="help-block" style="float: left;">
                提示：任何修改内容，审核通过后，必须在优惠券列表中才有效
            </div>
            <div style="float: right;">
                <a href="javascript:;" class="btn btn-mini coupon_submit_success"><i class=" icon-ok"></i> 审核通过</a>
                <a href="javascript:;" class="btn btn-mini coupon_submit_fail"><i class="icon-remove"></i> 审核拒绝</a>
                <a href="javascript:;" class="btn btn-mini coupon_view"><i class="icon-eye-open" style="margin-right: 0px;"></i> 查看详情</a>
            </div>
            <table class="table table_list table-bordered table-center">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkedAll"/></th>
                        <th>优惠券编码</th>
                        <th>优惠券名称</th>
                        <th>类型</th>
                        <th>状态</th>
                        <th>面值金额(元)</th>
                        <th>推广渠道</th>
                        <th>审核时间</th>
                        <th>审核拒绝原因</th>
                    </tr>
                </thead>
                <tbody>
                    <empty name="list">
                        <td colspan="10">还没有任何优惠券信息，请先创建~~~</td>
                    </empty>
                    <volist name="list" id="info">
                    <tr>
                        <td><input type="checkbox" name="coupon_id" value="{$info.coupon_id}" data-coupon_code="{$info.coupon_code}"/></td>
                        <td>{$info.coupon_code}</td>
                        <td>{$info.coupon_name}</td>
                        <td>{$info.coupon_use_type|id2name='coupon_use_type',###}</td>
                        <td>{$info.coupon_status|id2name='coupon_status',###}</td>
                        <td>{$info.coupon_value}</td>
                        <td>{$info.brand_channel|id2name='brand_channel',###}</td>
                        <td>{$info.check_time|default='暂未审核'}</td>
                        <td>{$info.refuse_reason|default='无'}</td>
                    </tr>
                    </volist>
                </tbody>
            </table>
            <notempty name="page"><div class="pagination alternate page"><ul>{$page}</ul></div></notempty>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('input[type=checkbox]').uniform(); //美化checkbox，radio按钮
    $("#checkedAll").toggle(function () {
        $("input[name=coupon_id]").each(function () {
            $(this).parents('span').addClass('checked');
            $(this).attr('checked', 'checked');
        });
    }, function () {
        $(this).parents('span').removeClass('checked');
        $("input[name=coupon_id]").each(function () {
            $(this).parents('span').removeClass('checked');
            $(this).removeAttr('checked');
        });
    });
    $("input[name=coupon_id]").click(function () {
        var _this = $(this);
        _all_checked = true;
        var _checked = _this.attr('checked');
        if (!_checked) {
            $("#checkedAll").parents('span').removeClass('checked');
        } else {
            $("input[name=coupon_id]").each(function () {
                if (!$(this).parents('span').hasClass('checked') && _this.val() != $(this).val()) {
                    _all_checked = false;
                }
            });
            if (_all_checked && !$("#checkedAll").parents('span').hasClass('checked')) {
                $("#checkedAll").parents('span').addClass('checked');
            }
        }
    });
    /*-----------------------------------------------查看优惠券-------------------------------------------*/
    $(".coupon_view").click(function(){
        var _checked_count = $("input[name=coupon_id]:checked").length;
        if(_checked_count == 0){
            alert("请选择一个优惠券");
            return false;
        }
        if(_checked_count > 1){
            alert("一次只能查看一个优惠券，请取消其它的选择");
            return false;
        }
        var _coupon_code = $("input[name=coupon_id]:checked").first().data('coupon_code');
        window.location.href = "{:U('CouponCheck/info')}?coupon_code=" + _coupon_code;
    });
    /*-----------------------------------------------审核通过-------------------------------------------*/
    $(".coupon_submit_success").click(function(){
        var _checked_count = $("input[name=coupon_id]:checked").length;
        if(_checked_count == 0){
            alert("请选择一个优惠券");
            return false;
        }
        var _coupon_id = '';
        $("input[name=coupon_id]:checked").each(function(){
            _coupon_id += $(this).val() + ',';
        });
        $.post("{:U('CouponCheck/check_success')}",{coupon_ids:_coupon_id},function(data){
            if(data.status){
                alert(data.info);
                window.location.reload();
            }else{
                alert(data.info);
            }
        });
    });
    /*-----------------------------------------------审核拒绝-------------------------------------------*/
    $(".coupon_submit_fail").click(function(){
        var _checked_count = $("input[name=coupon_id]:checked").length;
        if(_checked_count == 0){
            alert("请选择一个优惠券");
            return false;
        }
        var _coupon_ids = '';
        $("input[name=coupon_id]:checked").each(function(){
            _coupon_ids += $(this).val() + ',';
        });
        tipwindows('审核失败',getFialBox(_coupon_ids));
    });
    function getFialBox(_coupon_ids) {
        var _return = '';
        $.ajaxSetup({async:false});
        $.post("{:U('CouponCheck/get_check_fail')}",{coupon_ids:_coupon_ids},function(data){_return = data.info;},'json');
        return _return;
    }
</script>