<link rel="stylesheet" href="__PUBLIC__/css/select2.css" />
<link type="text/css" href="__PUBLIC__/js/date/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
<link type="text/css" href="__PUBLIC__/js/date/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/js/date/js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/date/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/date/js/jquery-ui-timepicker-zh-CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/export.jquery.js"></script>
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title"><h5>退货总报表</h5></div>
        <div class="widget-content">
            {$search_box}
            <table class="table table_list table-bordered table-center">
                <thead>
                    <tr>
                        <th>标签名称</th>
                        <th>退现金额</th>
                        <th>退储值卡金额</th>
                        <th>退款总金额</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <empty name="list">
                        <td colspan="5">没有任何数据~~~</td>
                    </empty>
                    <volist name="list" id="info">
                        <tr class="tree_list_child list_child_{$info.label_parent_id}" style="{:set_class($info['label_parent_id'],'0','display:none;','>')}" data-path="{$info.label_path}">
                            <td class="tree_list" data-tree="{$info.label_level}" style="text-align:left;">
                                <a href="javascript:;" data-id="{$info.label_id}" class="list_colse">{$info.label_name}</a>
                            </td>
                            <td>{$info.reverse_cash|price_format}</td>
                            <td>{$info.reverse_storage_money|price_format}</td>
                            <td>{$info.total_reverse_value|price_format}</td>
                            <td>
                                <a href="{:U('LabelReverseMoney/details',array('label_id'=>$info['label_id'],'reverse_start'=>$reverse_start,'reverse_end'=>$reverse_end))}" class="btn btn-mini" target="_blank" onclick="ajax_loading(false);"><i class="icon-eye-open"></i> 详情</a> 
                            </td>
                        </tr>
                    </volist>
                    <tr>
                            <td>合计</td>
                            <td>{$total_data.reverse_cash|price_format}</td>
                            <td>{$total_data.reverse_storage_money|price_format}</td>
                            <td>{$total_data.total_reverse_value|price_format}</td>
                            <td></td>
                        </tr>
                </tbody>
            </table>
            <notempty name="page"><div class="pagination alternate page"><ul>{$page}</ul></div></notempty>
        </div>
    </div>
</div>
<script type="text/javascript">
 /*--------------------------------------------------------------------------导出订单-----------------------------------------------------------------*/
    $("#explode_order").export({
       'label_id':$("input[name='label_id']").val(),
       'reverse_start':$("input[name='reverse_start']").val(),
       'reverse_end':$("input[name='reverse_end']").val(),
    });  
</script>