<link rel="stylesheet" href="__PUBLIC__/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/css/uniform.css" />
<link type="text/css" href="__PUBLIC__/js/date/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
<link type="text/css" href="__PUBLIC__/js/date/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/js/date/js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/date/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/date/js/jquery-ui-timepicker-zh-CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/form.jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/tip.jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.uniform.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/export.jquery.js"></script>
<style>
    .controls label{display:inline-block; height:20px; padding:4px 10px 4px 0;margin-bottom:0;}
    .tab-left{border:1px solid #ddd; overflow:hidden;background-color:#fff;}
    .tab-left .nav{float:left;}
    .tab-left .nav li{float:none;border-bottom:1px solid #ddd;border-right:1px solid #ddd;height:40px;line-height:40px;padding:0 8px;text-align:center;font-weight:bold;background-color:#f9f9f9;}
    .tab-left .nav li.active{border-right:none;background-color:#fff;color:#444;}
    .tab-left .nav li a{background-color:#f9f9f9;color:#999;}
    .tab-left .nav li.active a{color:#444;background-color:#fff;}
    .tab-left .tab-content{border:none;}
    .zc_data_list{list-style:none;}
    .zc_data_list li{float:left; margin:0 8px 8px 0;}
    .pointer{cursor:pointer;}
    .warging{border-radius:50%;padding:2px 3px;cursor:pointer;position:absolute;margin-left:4px;}
</style>
<style>.select2-results{max-height:218px;overflow:hidden;overflow-y:auto;}</style>
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title add_box"><h5>订单列表</h5></div>
        <div class="widget-content">
            {$search_box}
            <div class="help-block" style="float: left;">
                提示：点击订单编号和会员账号信息可以查看订单详情
            </div>
            <table class="table table_list table-bordered table-center">
                <thead>
                    <tr>
                        <th>订单编号</th>
                        <th>会员账号</th>
                        <th>支付编号</th>
                        <th>订单金额（元）</th>
                        <th>订单状态</th>
                        <th>支付状态</th>
                        <th>下单时间</th>
                        <th>下单终端</th>
                        <th>收货人</th>
                        <th>收货人电话</th>
                    </tr>
                </thead>
                <tbody>
                <empty name="order_list">
                    <tr><td colspan="9">还没有任何订单信息</td></tr>
                </empty>
                <volist name="order_list" id="order">
                    <tr>
                        <td>
                            <a href="javascript:;" class="quick_view" data-order_id="{$order.order_id}">{$order.order_cur_id}</a>
                            <if condition="$order['base_order']">
                                <span class="label label-important warging tip-right" title="该单为原单，不能操作！">！</span>
                            </if>
                        </td>
                        <td><a href="javascript:;" class="quick_view" data-order_id="{$order.order_id}">{$order.member_account}</a></td>
                        <td>{$order.payment_serial_number}</td>
                        <td>{$order.total_value}</td>
                        <td>{$order.order_status|id2name='order_status',###}</td>
                        <td>{$order.pay_status|id2name='pay_status',###}</td>
                        <td>{$order.create_time}</td>
                        <td>{$order.order_way|id2name='order_way',###}</td>
                        <td>{$order.name}</td>
                        <td>{$order.mobile}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <notempty name="page"><div class="pagination alternate page"><ul>{$page}</ul></div></notempty>
        </div>
    </div>
</div>
<script type="text/javascript">
    /*--------------------------------------------------------------------------复选框-----------------------------------------------------------------*/
    $('input[type=checkbox]').uniform(); //美化checkbox，radio按钮
    $("#checkedAll").toggle(function () {
        $("input[name=order_id]").each(function () {
            $(this).parents('span').addClass('checked');
            $(this).attr('checked', 'checked');
        });
    }, function () {
        $(this).parents('span').removeClass('checked');
        $("input[name=order_id]").each(function () {
            $(this).parents('span').removeClass('checked');
            $(this).removeAttr('checked');
        });
    });
    $("input[name=order_id]").click(function () {
        var _this = $(this);
        _all_checked = true;
        var _checked = _this.attr('checked');
        if (!_checked) {
            $("#checkedAll").parents('span').removeClass('checked');
        } else {
            $("input[name=order_id]").each(function () {
                if (!$(this).parents('span').hasClass('checked') && _this.val() != $(this).val()) {
                    _all_checked = false;
                }
            });
            if (_all_checked && !$("#checkedAll").parents('span').hasClass('checked')) {
                $("#checkedAll").parents('span').addClass('checked');
            }
        }
    });
    /*--------------------------------------------------------------------------切换快捷查看-------------------------------------------------------------*/
    $(".quick_view").toggle(function () {
        var _this = $(this);
        if ($(".quick_tr").length > 0)
            $(".quick_tr").remove();
        $.post("{:U('Order/quick_view')}", {order_id: _this.data('order_id')}, function (data) {
            if (data.status) {
                var _current_tr = _this.parents('tr');
                var _td_count = _current_tr.find('td').length;
                _current_tr.after($('<tr class="quick_tr"><td colspan="' + _td_count + '">' + data.info + '</td></tr>'));
            }
        });
    }, function () {
        $(".quick_tr").remove();
    });
    /*--------------------------------------------------------------------------添加备注-----------------------------------------------------------------*/
    $(".add_comment").live('click',function(){
        var _order_id = $(this).data('order_id');
        tipwindows('添加备注',getaddCommentBox(_order_id));
    });
    function getaddCommentBox(_order_id){
        var _return = '';
        $.ajaxSetup({async:false});
        $.post("{:U('Order/get_order_comment')}",{order_id:_order_id},function(data){_return = data.info;},'json');
        return _return;
    }
    /*--------------------------------------------------------------------------确认开票-----------------------------------------------------------------*/
    $(".makesure_invoice").live('click',function(){
        var _this = $(this);
        if(confirm("确定要开票吗")){
            var _order_id = _this.data('order_id');
            $.post("{:U('Order/makesure_invoice')}",{order_ids:_order_id},function(data){
                if(data.status){
                    alert(data.info);
                    refresh_label();
                }else{
                    alert(data.info);
                }
            }); 
        }
    });
    /*--------------------------------------------------------------------------订单发货-----------------------------------------------------------------*/
    $(".send_goods").live('click',function(){
        var _order_id = $(this).data('order_id');
        tipwindows('订单发货',getSendGoodsBox(_order_id));
    });
    function getSendGoodsBox(_order_id){
        var _return = '';
        $.ajaxSetup({async:false});
        $.post("{:U('Order/get_express_info')}",{order_id:_order_id},function(data){_return = data.info;},'json');
        return _return;
    }
    /*--------------------------------------------------------------------------取消订单-----------------------------------------------------------------*/
    $(".update_order").live('click',function(){
        var _order_id = $(this).data('order_id');
        var _type = $(this).data('type');
        var _title = '';
        var _action = '';
        if(_type == 1){
            _title = '取消订单';
            _action = "{:U('Order/get_cancel_info')}";
        }
        if(_type == 2){
            _title = '删除订单';
            _action = "{:U('Order/get_del_info')}";
        }
        tipwindows(_title,getUpdateOrderBox(_action,_order_id));
    });
    function getUpdateOrderBox(_action,_order_id){
        var _return = '';
        $.ajaxSetup({async:false});
        $.post(_action,{order_id:_order_id},function(data){_return = data.info;},'json');
        return _return;
    }
    /*--------------------------------------------------------------------------导出订单-----------------------------------------------------------------*/
    $("#explode_order").export({
       create_start:$("input[name='create_start']").val(),
       create_end:$("input[name='create_end']").val(),
       pay_start:$("input[name='pay_start']").val(),
       pay_end:$("input[name='pay_end']").val(),
       payment_trade_no:$("input[name='payment_trade_no']").val(),
       name:$("input[name='name']").val(),
       mobile:$("input[name='mobile']").val(),
       order_type:$("select[name='order_type']").val(),
       pay_status:$("select[name='pay_status']").val(),
       order_cur_id:$("input[name='order_cur_id']").val(),
       order_status:$("select[name='order_status']").val(),
       order_way:$("select[name='order_way']").val(),
       shops_code:$("select[name='shops_code']").val(),
       member_account:$("input[name='member_account']").val(),
       goods_name:$("input[name='goods_name']").val(),
    });
    /*--------------------------------------------------------------------------确认收货-----------------------------------------------------------------*/
    $(".receive_order").live('click',function(){
        if(confirm("确认客户已经收货了吗")){
            var _order_id = $(this).data('order_id');
            $.post("{:U('Order/receive_order')}",{order_id:_order_id},function(data){
                alert(data.info);
                if(data.status) refresh_label();
            });
        }
    });
    /*--------------------------------------------------------------------------退换货-----------------------------------------------------------------*/
    $(".reverse_order").live('click',function(){
        var _checked_count = $("input[name=order_goods_id]:checked").length;
        if(_checked_count == 0){
            alert("请选择至少选择一个订单商品");
            return false;
        }
        var _order_id = $(this).data('order_id');
        if(confirm("确定要退换货吗")){
            var _order_goods_id = '';
            $("input[name=order_goods_id]:checked").each(function(){
                _order_goods_id += $(this).val() + ',';
            });
            tipwindows("退换货",getReverseOrderBox(_order_id,_order_goods_id));
        }
    });
    function getReverseOrderBox(_order_id,_order_goods_id){
        var _return = '';
        $.ajaxSetup({async:false});
        $.post("{:U('Order/get_reverse_info')}",{order_id:_order_id,order_goods_id:_order_goods_id},function(data){_return = data.info;},'json');
        return _return;
    }
    /*--------------------------------------------------------------------------刷新标签-----------------------------------------------------------------*/
    function refresh_label(){
        var _type_id = $("#opt_type").val();
        $(".toggle_label").eq(_type_id).trigger('click');
    }
</script>