{__NOLAYOUT__}
<div class="widget-box  tab-left" style="margin-top:0;">
    <div id="order_quick_box" class="widget-content tab-content">
        <div>
        <table class="table table-bordered">
            <tr>
                <td>购买时间：</td>
                <td>{$info.create_time}</td>
                <td>有效期截至：</td>
                <td>{$info.valid_time}</td>
            </tr>
            <tr>
                <td>激活时间：</td>
                <td>{$info.active_time}</td>
                <td>使用时间：</td>
                <td>{$info.use_time}</td>
            </tr>
        </table>
    </div>
    </div>
</div>