<link rel="stylesheet" href="__PUBLIC__/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/css/uniform.css" />
<script type="text/javascript" src="__PUBLIC__/js/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.uniform.js"></script>
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title add_box"><h5>优惠码编辑列表</h5><a class="btn btn-success btn-mini" href="{:U('CouponCodeEdit/add')}"><i class="icon-plus icon-white"></i> 添加优惠码</a></div>
        <div class="widget-content">
            {$search_box}
            <div class="help-block" style="float: left;">
                提示：任何修改内容，审核通过后，必须在优惠码列表中才有效
            </div>
            <div style="float: right;">
                <a href="javascript:;" class="btn btn-mini coupon_edit"><i class="icon-edit"></i> 编辑</a>
                <a href="javascript:;" class="btn btn-mini coupon_submit_checked"><i class="icon-wrench"></i> 提交审核</a>
                <a href="javascript:;" class="btn btn-mini coupon_view"><i class="icon-eye-open" style="margin-right: 0px;"></i> 查看详情</a>
            </div>
            <table class="table table_list table-bordered table-center">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkedAll"/></th>
                        <th>优惠码名称</th>
                        <th>类型</th>
                        <th>状态</th>
                        <th>面值金额(元)</th>
                        <th>推广渠道</th>
                        <th>审核时间</th>
                        <th>审核拒绝原因</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <empty name="list">
                        <td colspan="10">还没有任何优惠码信息，请先创建~~~</td>
                    </empty>
                    <volist name="list" id="info">
                    <tr>
                        <td><input type="checkbox" name="coupon_code_id" value="{$info.coupon_code_id}"/></td>
                        <td>{$info.coupon_code_name}</td>
                        <td>{$info.coupon_use_type|id2name='coupon_use_type',###}</td>
                        <td>{$info.coupon_status|id2name='coupon_status',###}</td>
                        <td>{$info.coupon_value}</td>
                        <td>{$info.brand_channel|id2name='brand_channel',###}</td>
                        <td>{$info.check_time|default='暂未审核'}</td>
                        <td>{$info.refuse_reason|default='无'}</td>
                        <td>
                            <a href="{:U('CouponCodeEdit/relation',array('coupon_code_id'=>$info['coupon_code_id']))}" class="btn btn-mini"><i class="icon-retweet"></i> 维护关联信息</a>
                        </td>
                    </tr>
                    </volist>
                </tbody>
            </table>
            <notempty name="page"><div class="pagination alternate page"><ul>{$page}</ul></div></notempty>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    $('input[type=checkbox]').uniform(); //美化checkbox，radio按钮
    $("#checkedAll").toggle(function () {
        $("input[name=coupon_code_id]").each(function () {
            $(this).parents('span').addClass('checked');
            $(this).attr('checked', 'checked');
        });
    }, function () {
        $(this).parents('span').removeClass('checked');
        $("input[name=coupon_code_id]").each(function () {
            $(this).parents('span').removeClass('checked');
            $(this).removeAttr('checked');
        });
    });
    $("input[name=coupon_code_id]").click(function () {
        var _this = $(this);
        _all_checked = true;
        var _checked = _this.attr('checked');
        if (!_checked) {
            $("#checkedAll").parents('span').removeClass('checked');
        } else {
            $("input[name=coupon_code_id]").each(function () {
                if (!$(this).parents('span').hasClass('checked') && _this.val() != $(this).val()) {
                    _all_checked = false;
                }
            });
            if (_all_checked && !$("#checkedAll").parents('span').hasClass('checked')) {
                $("#checkedAll").parents('span').addClass('checked');
            }
        }
    });
    /*-----------------------------------------------编辑优惠码-------------------------------------------*/
    $(".coupon_edit").click(function(){
        var _checked_count = $("input[name=coupon_code_id]:checked").length;
        if(_checked_count == 0){
            alert("请选择一个优惠码");
            return false;
        }
        if(_checked_count > 1){
            alert("一次只能修改一个优惠码，请取消其它的选择");
            return false;
        }
        var _coupon_code_id = $("input[name=coupon_code_id]:checked").first().val();
        window.location.href = "{:U('CouponCodeEdit/update')}?coupon_code_id=" + _coupon_code_id;
    });
    /*-----------------------------------------------查看优惠码-------------------------------------------*/
    $(".coupon_view").click(function(){
        var _checked_count = $("input[name=coupon_code_id]:checked").length;
        if(_checked_count == 0){
            alert("请选择一个优惠码");
            return false;
        }
        if(_checked_count > 1){
            alert("一次只能查看一个优惠码，请取消其它的选择");
            return false;
        }
        var _coupon_code_id = $("input[name=coupon_code_id]:checked").first().val();
        window.location.href = "{:U('CouponCodeEdit/info')}?coupon_code_id=" + _coupon_code_id;
    });
    /*-----------------------------------------------提交审核-------------------------------------------*/
    $(".coupon_submit_checked").click(function(){
        var _checked_count = $("input[name=coupon_code_id]:checked").length;
        if(_checked_count == 0){
            alert("请选择一个优惠码");
            return false;
        }
        var _coupon_code_id = '';
        $("input[name=coupon_code_id]:checked").each(function(){
            _coupon_code_id += $(this).val() + ',';
        });
        $.post("{:U('CouponCodeEdit/submit_check')}",{coupon_code_id:_coupon_code_id},function(data){
            if(data.status){
                alert(data.info);
                window.location.reload();
            }else{
                alert(data.info);
            }
        });
    });
</script>