{__NOLAYOUT__}
<style>
.form-horizontal .control-label{width:100px;}
.form-horizontal .controls{margin-left:120px;}
.form-horizontal .form-actions{padding-left:120px;}
.select2-drop{position: fixed;}
</style>
<div class="widget-box" style="margin:0;">
    <div class="widget-content nopadding">
        <form class="form-horizontal update_group_form" ajax="true" action="{:U('Group/update')}" autocomplete="off">   
            <div class="control-group">
                <label class="control-label">用户组名称：</label>
                <div class="controls">
                    <input type="text" name="name" empty="请输入用户组名称" id="name" value="{$group.name}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">用户组状态：</label>
                <div class="controls">
                    <div class="btn-group update_change_status">
                        <a data-status="1" class="btn btn-mini {:set_class('1',$group['status'],'btn-success active')}">ON</a>
                        <a data-status="0" class="btn btn-mini {:set_class('0',$group['status'],'active')}">OFF</a>
                    </div>
                </div>
                <input type="hidden" id="status" name="status" value="{$group.status}" />
            </div>
            <div class="form-actions">
                <input type="hidden" id="id" name="id" value="{$group.id}" />
                <input type="submit" value="提交" class="btn" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$('.update_change_status a').click(function() {
    var _this = $(this);
    if (_this.hasClass('active')) return false;
    _this.parent().find('a').removeClass('active');
    _this.addClass('active');
    if (_this.index() == 1) _this.prev().removeClass('btn-success');
    else _this.addClass('btn-success');
    $('#status').val($(this).data('status'));
});
$('.update_group_form').form({
     start:function() {
        $('.error').removeClass('error');
        remove_error();
    },
    error:function(data,_this) {
        if (_this) {
            error(data,_this);
            $('.error').removeClass('error');
            _this.parents('.control-group').addClass('error');
        }else alert(data);
    },
    ajaxcallback:function(data) {
        if (data.status) {
            tip_close();
            location.reload();
        }else {
            if (data.data) {
                var _obj = $('#'+data.data);
                $('.error').removeClass('error');
                _obj.parents('.control-group').addClass('error');
                _obj.focus();
                error(data.info,_obj);
            }else {
                alert(data.info);
                tip_close();
            }
        }
    }
});
</script>