{__NOLAYOUT__}
<notempty name="parent_menu">
<div class="btn-group">
    <a class="btn btn-small" data-id="0">选择权限</a>
    <a data-toggle="dropdown" class="btn btn-small dropdown-toggle"><span class="caret" style="margin"></span></a>
    <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="0">选择权限</a></li>
        <li class="divider"></li>
        <volist name="parent_menu" id="parent_m">
        <li><a href="javascript:;" data-send="off" data-id="{$parent_m.id}">{$parent_m.name}</a></li>
        </volist>
    </ul>
</div>
</notempty>